<p>This tutorial may take anywhere from 30 minutes to 4 hours. The first deliverable is due this <strong>Thursday (8/23).</strong></p>
<p>The time taken will depend on how familiar you are with the following tools:</p>
<ul>
<li>ssh and generating public/private key pairs (due <strong>Thursday (8/23))</strong></li>
<li>Git<br />(experience with other version control system such as SVN will be helpful, but the reading material makes no assumptions)</li>
</ul>
<p>The tutorial and detailed instructions are here:</p>
<p style="padding-left: 30px;"><a href="https://moodle2.uncc.edu/draftfile.php/14535/user/draft/79890338/Git%20for%20Wartells%20Courses.pdf">Git for Wartells Courses.pdf</a></p>
<p>The files used by the tutorial are:</p>
<ul>
<li><a href="https://moodle2.uncc.edu/draftfile.php/14535/user/draft/79890338/HelloWorld.tar.gz">HelloWorld.tar.gz</a></li>
<li><a href="https://moodle2.uncc.edu/draftfile.php/14535/user/draft/79890338/ProGit_Chapter_2_2.tar.gz">ProGit_Chapter_2_2.tar.gz</a></li>
</ul>
<p>Deliverables:</p>
<ul>
<li><strong>August 23</strong>: Moodle submission - submit your ssh public key as described in the document.</li>
<li><strong>August 28</strong>: Git push - submit your final zipped tutorial git-tutorial.tar.gz to your Git repository</li>
</ul>
